@layer reset;

:root {
  --white: hsl(0, 0%, 100%);
  --stone100: hsl(30, 54%, 90%);
  --stone150: hsl(30, 18%, 87%);
  --stone600: hsl(30, 10%, 34%);
  --stone900: hsl(24, 5%, 18%);
  --brown: hsl(14, 45%, 36%);
  --rose800: hsl(332, 51%, 32%);
  --rose50: hsl(330, 100%, 98%);
}

/* https://www.joshwcomeau.com/css/custom-css-reset/ */
@layer reset {
  /* 1. Use a more-intuitive box-sizing model */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  /* 2. Remove default margin */
  * {
    margin: 0;
  }

  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }

  /* 5. Improve media defaults */
  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }

  /* 6. Inherit fonts for form controls */
  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  /* 7. Avoid text overflows */
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }
}

* {
  font-family: "Outfit", san-serif;
  font-size: 16px;
  font-weight: 400;
  color: var(--stone600);
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--stone100);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.text-1,
.text-2 {
  font-family: "Young Serif", serif;
  line-height: 1;
}
.text-1 {
  font-size: clamp(2.25rem, 2.162rem + 0.3756vw, 2.5rem);
  color: var(--stone900);
  margin-block: 1.5rem;
}
.text-2 {
  font-size: clamp(1.875rem, 1.875rem + 0vw, 1.875rem);
  color: var(--brown);
  margin-block-end: 1.5rem;
}
.text-3,
.text-4 {
  font-weight: 400;
}
.text-3 {
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--rose800);
  margin-block-end: 1rem;
}
strong {
  font-weight: 700;
}
ul,
ol {
  padding: 0px 0px 0px 24px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
li {
  padding-left: 24px;
}

.container {
  display: flex;
  flex-direction: column;
  width: clamp(23.4375rem, 12.121rem + 37.6434vw, 46rem);
  background-color: var(--white);
  border-radius: 1.25rem;
  margin-block: clamp(0rem, -4.0125rem + 13.3472vw, 8rem);
}
img {
  border-radius: 0.625rem;
  margin: clamp(0rem, -1.2539rem + 4.171vw, 2.5rem)
    clamp(0rem, -1.2539rem + 4.171vw, 2.5rem) 0;
}
header {
  margin-inline: clamp(2rem, 1.7492rem + 0.8342vw, 2.5rem);
  padding-block-end: 2rem;
}
.section {
  margin-inline: clamp(2rem, 1.7492rem + 0.8342vw, 2.5rem);
  padding-block: 2rem;
}
.section + .section {
  border-block-start: 1px solid var(--stone150);
}

.prep {
  background-color: var(--rose50);
  padding: 1.5rem;
  margin-inline: clamp(2rem, 1.7492rem + 0.8342vw, 2.5rem);
  border-radius: 10px;
}
.pink-m::marker {
  color: var(--rose800);
}
.brown-m::marker {
  color: var(--brown);
  font-weight: 700;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin: 8px 0px 0px 0px;
}
tr {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
tr + tr {
  border-block-start: 1px solid var(--stone150);
}
td {
  text-align: left;
  padding: 12px;
}
.indent {
  margin: 0px 0px 0px 16px;
}
.number {
  font-weight: 700;
  color: var(--brown);
}

/* Attribution */
.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 10px;
}
.attribution a {
  font-size: 11px;
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 480px) {
  .container {
    width: 375px;
    border-radius: 0px;
    margin: 0;
  }
  img {
    border-radius: 0px;
  }
  .text-1 {
  margin-block: 0 1.5rem;
}
  header {
    padding-block: 2rem;
  }
  ul,
  ol {
    padding: 0px 0px 0px 24px;
  }
  li {
    padding-left: 12px;
  }
  /* Center the ::marker */
  
  /* li.pink-m.center-m {
    display: inline-flex; | make the original ::marker hidden
    align-items: center;
  }
  li.pink-m.center-m::before {
    content: "\2022"; | insert the dot icon
    display: inline-block;
    font-weight: bold; | styling the dot
    font-size: 20px; | styling the dot
    width: 1em;
    margin-left: -1em;
    vertical-align: middle; 
    color: var(--rose800);
  } */
 
}
